.div-search {
	margin-top: 20px;
	margin-bottom: 20px;
}

.div-topic-list {
	min-height: 400px;
}

.table-topic {
}

.table-topic tbody > tr > td {
	height:20px;
	line-height: 1;
	font-size:12px;
}

.table-topic thead > tr > th {
	height:20px;
	line-height: 1;
	font-size:12px;
}

.topic-content {
	margin-top:10px;
	clear:both;
}

.user-logo {
	float: left;
	overflow: hidden;
	width:50px;
}

.topic-doc {
	float: right;
	text-align:left;
	width: 92%;	
}

.topic-remark {
	text-align: left;
	color: #888888;
}

.topic-text {
	margin-top: 10px;
	min-height: 300px;
}

.topic-tail {
	text-align: left;
	margin-bottom: 10px;
	font-size:12px;
}


.topic-comment {
	clear:both;
	min-height:60px;
	margin-bottom:5px;
}

.topic-comment-content {
	float: right;
	text-align:left;
	width: 92%;
}

.topic-comment-remark {
	text-align: left;
	color: #888888;
	font-size: 12px;
}

.topic-comment-text {
	margin-top: 5px;
}

.topic-add-comment {

}

.topic-comment-pager {
	margin-bottom:10px;
}



