.div-search {
	margin-top: 20px;
	margin-bottom: 20px;
}

.div-topic-list {
	min-height: 400px;
}

.table-topic {
}

.table-topic tbody > tr > td {
	height:20px;
	line-height: 1;
	font-size:12px;
}

.table-topic thead > tr > th {
	height:20px;
	line-height: 1;
	font-size:12px;
}

.topic-content {
	margin-top:10px;
	min-height: 400px;
	
}

.user-logo {
	float: left;
	overflow: hidden;
	width:50px;
}

.topic-doc {
	float: right;
	text-align:left;
	width: 92%;	
}

.topic-remark {
	text-align: left;
	color: #888888;
}

.topic-text {
	margin-top: 10px;
}

.topic-comment {
	
}

.topic-comment-content {
	float: right;
	text-align:left;
	width: 92%;
}


