.content {
	padding-top: 70px;
	padding-bottom: 20px;
	min-height: 550px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	height:auto !important;
}

.footer {
	color: #777;
	padding-left: 15px;
  	padding-right: 15px;
  	min-height: 50px;
  	padding-bottom: 30px;
}

.icon-small {
	width: 20px;
	height: 20px;
}

.icon-tiny {
	width: 16px;
	height: 16px;
}

.icon-nano {
	width: 12px;
	height: 12px;
}

.btn-large {
	width: 100px;
}

.error-span {
	color: red;
}

.welcome {
	color: #fcfdee;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	align: center;
	text-align: center;
}

.input-title {
	text-align: right;
	padding-top: 5px;
	margin-top: 0;
	margin-bottom: 0;
}

.read-input {
	text-align: left;
	padding-top: 5px;
}

.logo {
	witdh:224px;
	height:200px;
	border-radius: 4px;
}

.logo-mini {
	witdh:60px;
	height:60px;
	border-radius: 2px;
}

.logo-tiny {
	witdh:50px;
	height:50px;
	border-radius: 2px;
}

.align-right {
	text-align:right;
}

.align-left {
	text-align:left;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.align-center {
	text-align:center;
}

.show {
	display:block;
}

.hide {
	display:none;
}

.pager {
	text-align: left;
	line-height: 1;
	font-size:12px;
}

.font-huge {
	font-size:28px;
	
}

.font-big {
	font-size:24px;
}

.font-mid {
	font-size:20px;
}

.font-small {
	font-size:16px;
}
